.dropdown-skill {
  background-color: black;
  color: #bbb;
  border-color: #333;
  min-width: 75px;
  padding: 1px 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.dropdown-skill:hover {
  background-color: #222;
}
.no-selection {
  -webkit-user-select: none; /* for safari & chrome browsers */
  -moz-user-select: none; /* for mozilla browsers */
  -ms-user-select: none; /* for IE10+ */
  background-color: black;
}
.hover {
  position: absolute;
  text-align: center;
  color: white;
  background-color: black;
  opacity: 0.85;
  padding: 5px;
  z-index: 7;
}
.hover-item {
  position: absolute;
  /*text-align: left;*/
  color: white;
  background-color: black;
  opacity: 0.85;
  padding: 5px;
  z-index: 6;
  /*width: 288px;*/
}
.point {
  position: absolute;
  text-align: center;
  color: white;
  width: 30px;
}
.inventory {
  position: relative;
  margin-right: 13px;
  float: right;
  z-index: 3;
}
.inv-charms {
  position: relative;
  margin-left:2px;
  width: 300px;
  height: 185px;
  float: left;
  z-index: 3;
}
.inv-equipment {
  position: relative;
  z-index: 3;
}
.text {
  position: absolute;
  text-align: center;
  color: white;
  width: 100px;
}
.green, .green-name {
  text-align: center;
  color: #00f000;
}
.gray {
  color: gray;
  z-index: 3;
}
.gray-all {
  color: #bbb;
  z-index: 3;
  background-color: #161616;
}
.background {
  background-color: black;
}
.dropdown-character {
  color: #ddd;
  position: absolute;
  left: 68px;
  top: 14px;
  opacity: 0;
  border-color: black;
  background-color: black;
  padding: 0px;
  width: 97px;
  height: 38px;
  z-index: 4;
}
.dropdown select, .dropdown-corruption select {
  color: #ddd;
  background-color: black;
  padding-left: 7px;
  width: 200px;
  height: 29px;
  border-color: #333;
  z-index: 5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.dropdown-corruption select {
  width: 20px;
}
.dropdown-set, .dropdown-unique, .dropdown-magic, .dropdown-rare, .dropdown-craft, .dropdown-common, .dropdown-rw, .dropdown-debug, .dropdown:hover, .dropdown:focus {
  background-color: #222;
  z-index: 6;
}
.dropdown-set {
  color: #00f000;
}
.dropdown-unique {
  color: #928068;
}
.dropdown-magic {
  color: #8080ff;
}
.dropdown-rare {
  color: yellow;
}
.dropdown-craft {
  color: orange;
}
.dropdown-common {
  color: white;
}
.dropdown-rw {
  color: #b2a992;
}
.dropdown-debug {
  color: #ff8080;
}
.P {  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 2px 2px 3px black, -2px -2px 3px black, 2px -2px 3px black, -2px 2px 3px black;
  color: white;
  width: 30px;
  z-index: 4;
}
.Pa1 {left: 51px;}
.Pa2 {left: 120px;}
.Pa3 {left: 189px;}
.Pb1 {left: 283px;}
.Pb2 {left: 351px;}
.Pb3 {left: 420px;}
.Pc1 {left: 513px;}
.Pc2 {left: 582px;}
.Pc3 {left: 651px;}
.Py1 {top: 44px;}
.Py2 {top: 112px;}
.Py3 {top: 180px;}
.Py4 {top: 248px;}
.Py5 {top: 317px;}
.Py6 {top: 385px;}

.I {
  position: absolute;
  display: block;
  pointer-events: none;
  z-index: 3;
}
.Ia1 {left: 14px;}
.Ia2 {left: 83px;}
.Ia3 {left: 152px;}
.Ib1 {left: 245px;}
.Ib2 {left: 314px;}
.Ib3 {left: 383px;}
.Ic1 {left: 476px;}
.Ic2 {left: 545px;}
.Ic3 {left: 614px;}
.Iy1 {top: 16px;}
.Iy2 {top: 84px;}
.Iy3 {top: 152px;}
.Iy4 {top: 220px;}
.Iy5 {top: 289px;}
.Iy6 {top: 357px;}

.cell {
position:absolute;
}

.H {
  position: absolute;
  width: 29px;
  height: 29px;
  z-index: 3;
  }
.Hx1 {left: 5px;}
.Hx2 {left: 34px;}
.Hx3 {left: 63px;}
.Hx4 {left: 92px;}
.Hx5 {left: 121px;}
.Hx6 {left: 150px;}
.Hx7 {left: 179px;}
.Hx8 {left: 208px;}
.Hx9 {left: 237px;}
.Hx10 {left: 266px;}
.Hy1 {top: 3px;}
.Hy2 {top: 32px;}
.Hy3 {top: 61px;}
.Hy4 {top: 90px;}

.effect, .effect-container {
  width: 36px;
  height: 36px;
  visibility: visible;
  display: block;
  z-index: 6;
  }
.effect {
  position: absolute;
}
  
.hide {
  width: 36px;
  height: 0px;
  visibility: hidden;
  display: block;
  z-index: 6;
  }
  
.flex-box {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
}

input[type="file"] {
    display: none;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Montserrat, sans-serif;
  min-width: 911px;
}

/* The dropdown container */
.nav-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.nav-dropbtn, .nav-dropbtn a {
  margin: 0;
  border: none;
  color: #ddd;
  padding: 4px 16px;
  background-color: inherit;
  font-family: inherit;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-dropbtn a {
  padding: 0;
}

/* Highlight navbar options on hover */
.nav-dropdown:hover, .nav-dropbtn:hover, .nav-dropbtn:hover a, .nav-dropdown-content-item:hover {
  background-color: #222;
  color: #fff;
}

/* Dropdown content (hidden by default) */
.nav-dropdown-content {
  display: none;
  position: absolute;
  color: #eee;
  background-color: #333;
  min-width: 100px;
  box-shadow: 0px 8px 12px 4px rgba(0,0,0,0.5);
  z-index: 9;
}

.nav-dropdown-content-item {
  font-size: 13px;
  border-top: 1px solid rgba(150, 150, 150, 0.15);
  margin: 0px 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.nav-dropdown-content-item:first-child {
  border-top: 0;
  margin-top: 2px;
}
.nav-dropdown-content-item:last-child {
  margin-bottom: 2px;
}

.nav-text {
  position: relative;
  height: 27px;
  top: 7px;
}
.nav-option {
  position: relative;
  height: 27px;
  top: 3px;
}
.nav-difficulty {
  position: relative;
  height: 44px;
  top: 4px;
}

/* Show the dropdown menu on hover */
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

/*====================================================================================*/

/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
/*
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #333333;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  padding: 8px 16px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #ddd;
  font-weight: 400;
  background: #333;
  z-index: 9;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu > ul > li:hover > a,
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fff;
  background: #222
}
*/
/*#cssmenu #menu-button {
  display: none;
}*/
/*#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}*/
/*#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}*/
/*#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}*/
/*#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}*/
/*#cssmenu.align-right ul ul {
  text-align: right;
}*/
/*#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}*/
/*#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}*/
/*#cssmenu li:hover > ul > li {
  height: 35px;
  left: auto;
}*/
/*#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}*/
/*
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}*/
/*#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}*/

/*
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
*/